/*
Errno::ENOENT: No such file or directory - scss/app.scss

Backtrace:
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:369:in `read'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:369:in `update_stylesheet'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:221:in `watch'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/plugin.rb:108:in `method_missing'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/exec.rb:509:in `watch_or_update'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/exec.rb:346:in `process_result'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/exec.rb:43:in `parse'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/lib/sass/exec.rb:22:in `parse!'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.8/bin/sass:13:in `<top (required)>'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/bin/sass:19:in `load'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/bin/sass:19:in `<main>'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/bin/ruby_noexec_wrapper:14:in `eval'
/Users/ankitsingh/.rvm/gems/ruby-1.9.3-p448/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - scss/app.scss"; }
